.buttonConnect {
  background-color: lightskyblue;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
}

.buttonDisconnect {
  background-color: lightcoral;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 5px;
}

.accountInfo {
  font-size: 16px;
}

.tabsWrapper {
  width: 90vw;
  margin: 0 auto;
}